<mat-toolbar>
    <mat-toolbar-row>
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with menu icon"
    >
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <span class="spacer"></span>
    <span
      ><h1><strong>Hacker News</strong></h1></span
    >
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with menu icon"
    >
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
</mat-toolbar-row>
  </mat-toolbar>

  